# w64devkit overrides for the stock busybox-w32 defconfig
# CONFIG_AR is not set
# CONFIG_ASCII is not set
# CONFIG_BASH_IS_ASH is not set
CONFIG_BASH_IS_NONE=y
# CONFIG_CROND is not set
# CONFIG_CRONTAB is not set
# CONFIG_DPKG is not set
# CONFIG_DPKG_DEB is not set
CONFIG_FEATURE_EDITING_HISTORY=16384
CONFIG_FEATURE_EDITING_HISTORY_DEFAULT=1024
# CONFIG_FEATURE_FAIL_IF_UTF8_MANIFEST_UNSUPPORTED is not set
# CONFIG_FTPGET is not set
# CONFIG_FTPPUT is not set
# CONFIG_LINK is not set
# CONFIG_MAKE is not set
# CONFIG_MAN is not set
# CONFIG_PDPMAKE is not set
# CONFIG_RPM is not set
# CONFIG_RPM2CPIO is not set
# CONFIG_STRINGS is not set
# CONFIG_TEST2 is not set
# CONFIG_TSORT is not set
# CONFIG_UNLINK is not set
# CONFIG_UUIDGEN is not set
# CONFIG_VI is not set
# CONFIG_XXD is not set
